@tailwind base;
@tailwind components;
@tailwind utilities;

.font1 {
  font-family: 'Roboto', sans-serif;
}

.introduction {
    animation-name: colorChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

}
@keyframes colorChange {
    0% {
        color: #FF0000;
    }
    25% {
        color: #FF7F00;
    }
    50% {
        color: #FFFF00;
    }
    75% {
        color: #00FF00;
    }
    100% {
        color: #0000FF;
    }
    
}

.typed-out {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 3s steps(24, end) forwards infinite;
   
    border-right: .15em solid rgb(13, 108, 142);
    border-block-end-style:double;
    width: 0;
}





@keyframes typewriter {
    from {width: 0;}
    to {width: 100%;}
}
@keyframes blink-caret {
    from {border-color: transparent;}
    to {border-color: #000;}
}



@media screen and (max-width: 200px) {
    .button-size {
        width: 100%;
        font-weight: normal;
    }  
}

@media screen and (max-width: 640px) {
    .mobile-size {
        text-align: start;
    }
}

@media screen and (max-width: 640px) {
    .mob-size {
        display: block;
    }
    .desktop-size {
        display: none;
    }
}
.sofia-regular {
    font-family: "Sofia", cursive;
    font-weight: bold;
   
  }
  